.wrapperTabel {
  width: 100%;
  overflow-x: auto;
  margin-top: 50px;
}

.tabelData {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  border: 1px solid #94a3b8;
}

.tabelData th {
  background-color: white;
  color: #06d6a0;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 8px;
  border: 1px solid #94a3b8;
  text-align: center;
}

.tabelData td {
  color: #64748b;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 8px;
  text-align: center;
  border: 1px solid #94a3b8;
}


@media (max-width: 768px) {
  .tabelData th,
  .tabelData td {
    font-size: 14px;
    padding: 10px 6px;
  }
}

@media (max-width: 480px) {
  .tabelData {
    min-width: 100%;
  }

  .tabelData th,
  .tabelData td {
    font-size: 13px;
    padding: 8px 4px;
  }
}
