.container {
  background-color: white;
  padding: 86px 122px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.hero__left {
  max-width: 466px;
  flex: 1;
}

.hero__title {
  margin: 0;
  font-size: 61px;
  font-weight: 500;
  color: #06d6a0;
}

.hero__genre {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  color: #118ab2;
  margin-bottom: 40px;
}

.hero__description {
  font-size: 25px;
  font-weight: 400;
  color: #64748b;
}

.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #06d6a0;
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding: 14px 32px;
  border: none;
  margin-top: 58px;
  cursor: pointer;
  max-width: 50%;
}

.hero__right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero__image {
  max-width: 100%;
  height: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero__left {
    max-width: 100%;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__genre {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .hero__description {
    font-size: 18px;
  }

  .hero__button {
    font-size: 20px;
    padding: 12px 32px;
    margin: 24px auto 0; /* Center the button */
  }
  .hero__image {
    max-width: 80%;
    margin-bottom: 32px;
  }
}
