.statsSection {
  padding: 76px 24px 135px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-size: 61px;
  font-weight: 500;
  color: #06d6a0;
  margin: 0;
}

.sectionSubtitle {
  font-size: 25px;
  font-weight: 400;
  color: #118ab2;
  margin: 0;
}

.statsGrid {
  margin-top: 61px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 1024px) {
  .numberCard {
    flex: 0 0 45%; /* Tablet: 2 per row */
    max-width: 45%;
  }
}

@media (max-width: 600px) {
  .numberCard {
    flex: 0 0 90%; /* HP: 1 per row */
    max-width: 90%;
  }
}

/* Table */

.tableSection {
  padding: 76px 122px 135px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
